.fullWidth {
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-nav li .sidebar-item {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li .sidebar-item:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li .sidebar-item:active,
.sidebar-nav li .sidebar-item:focus {
  text-decoration: none;
}

#error {
    display: none;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

#error h1, h2 {
    width: 100%;
    font-size: 2em;
}

#error img {
    width: 56%;
    float: left;
    margin-right: 10px;
}

#error #msg {
    text-align: justify;
}

.sidebar-item {
    cursor: pointer;
    font-size: 25px;
    padding: 10px 0 10px;
}

.sidebar-nav li .activeEl {
    background: #222930;
    color: rgb(206, 206, 206);
}

.sidebar-nav li .sidebar-item.activeEl:hover {
    background: #222930;
    color: #999;
    cursor: default;
}

.sidebar-brand {
    color: rgb(206, 206, 206);
}

.halfButton {
    width: 50%;
}